body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: gold;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hero {
    padding: 50px;
    background-image: url('../public/images/logo.png');
    background-size: cover;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: gold;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}
